<html>
    <head>
        <meta charset="utf-8">
        <title>mysite</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href='/static/css/index.css'>
    </head>
    <body>
        <div class="welcome-msg">
            <h3>Please <strong class="standout-text">register</strong> if you are new or <strong class="standout-text">login</strong> to your account.</h3>
            <hr class="welcome-msg-sep"><br><br>
            <button id="register-btn" type="button" class="btn btn-dark" onclick="loadRegisterPage()"> Register </button>  &nbsp; &nbsp;
            <button id="login-btn" type="button" class="btn btn-primary" onclick="loadLoginPage()"> Login </button>           
        </div>        
        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>
</html>