<html>
    <head>
        <meta charset="utf-8">
        <title>mysite</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Custome CSS -->
        <link rel="stylesheet" href='/static/css/login.css'>
    </head>
    <body>
        <!-- LOGIN FORM -->
        <div class="login-block container-fluid">
            <div class="card text-center">
                <div class="card-header">
                    <h5> Login With Us </h5>
                </div>
                <div class="card-body">                    
                    <form id="login-form" method="post" onsubmit="login(event)">{% csrf_token %}
                        <div class="form-group">
                            <input id="email-input" type="text" class="form-control" placeholder="Email or Username"/><br>
                            <input id="password-input" type="password" class="form-control" placeholder="Password"/><br>
                            <button type="submit" class="btn btn-primary"> Login </button><br>                            
                            <span id="login-form-err" class="err-msg"></span><br>
                            <div class="row">
                                <div class="col-5">
                                    <hr>
                                </div>
                                <div class="col-2">
                                    <span style="color: orange;"> Or </span>
                                </div>
                                <div class="col-5">
                                    <hr>
                                </div>
                            </div><br>
                            <a href="{% url 'social:begin' 'google-oauth2' %}"><span class="social">                                
                                <i class="fa fa-google"></i>
                            </span></a>  &nbsp; &nbsp; &nbsp;                          
                            <a href="{% url 'social:begin' 'facebook' %}"><span class="social">
                                <i class="fa fa-facebook-square"></i>
                            </span></a>                                                        
                        </div>            
                    </form>
                </div>               
            </div>
        </div>                
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Custome JS -->
        <script type="text/javascript" src="/static/js/login.js"></script>
    </body>
</html>